.footer__copyright {
    margin: 0;
    padding: 50px 0 0;
    max-width: 165px;
    max-height: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        padding: 0;
        line-height: 16px;
    }
}