.intro {
    margin: 0;
    padding: 100px 48px 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.intro__title {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 690px;
    max-height: 116px;
    font-weight: 900px;
    font-size: 54px;
    line-height: 58px;
}
.intro__subtitle {
    color: #FFFFFF;
    margin: 0;
    padding: 40px 0 0px;
    max-width: 690px;
    max-height: 68px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}
.intro__text {
    margin: 0;
    padding: 32px 0 0;
    max-width: 690px;
    max-height: 208px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.intro__list {
    margin: 0;
    padding: 33px 0 0;
    list-style: none;
    max-width: 690px;
    max-height: 72px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}