.intro {
    margin: 0 auto;
    padding: 64px 16px 0;
    max-width: 320px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    .intro {
        margin: 0 auto;
        padding: 85px 25px 0;
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {

        padding: 95px 50px 0;
        max-width: 928px;
    }   
}

@media screen and (min-width: 1280px) {
    .intro {
        padding: 95px 150px 0;
        max-width: 984px;
    }   
}




