.lead__caption {
    color: #FFFFFF;
    margin: 0;
    padding: 8px 0 0 16px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
}