.place {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media screen and (min-width: 768px) {
    .place {
      gap: 30px;
      padding: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .place {
      gap: 48px;
      padding: 0;
    }
  }