.cover__content {
    display: flex;
    width: 100%;
    min-height: 200px;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../../images/cover-route-66.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.cover__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cover__content:hover::before {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .cover__content {
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__content {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__content {
        min-height: 740px;
    }
}